canvas{
  background-color: rgb(58, 54, 70);
  border: 8px solid rgb(32, 60, 102);
  display: flex;
  position: relative;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}